{% extends 'registro/base.html' %}

{% block title %}
	SIMCAA - Registro
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% if registrados %}
			<p class="text-success">
				<strong>
					{{ registrados.count }} 
					participante{{ registrados.count|pluralize:"s" }} 
					registrado{{ registrados.count|pluralize:"s" }}
				</strong>
			</p>
			<table class="table table-sm mt-1">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>EMPRESA</th>
						<th>CARGO</th>
						<th>PAÍS</th>
						<th>PARTICIPACIÓN</th>
					</tr>
				</thead>

				<tbody>
					{% for par in registrados %}
					<tr id="tr-{{ par.id }}">
						<td>{{ par.nombre|upper }}</td>
						<td>{{ par.apellido|upper }}</td>
						<td>
							{% if par.empresa %}
								{{ par.empresa|upper }}
							{% else %}
								-
							{% endif %}
						</td>
						<td>
							{% if par.cargo %}
								{{ par.cargo|upper }}
							{% else %}
								-
							{% endif %}
						</td>
						<td>
							{% if par.pais %}
								{{ par.pais|upper }}
							{% else %}
								-
							{% endif %}
						</td>
						<td>{{ par.tipo_participante.tipo|upper }}</td>
					</tr>
						
					{% endfor %}
				</tbody>
			</table>	
			{% else %}
			<p class="text-danger text-center mt-5">
				Aún no hay participantes registrados
			</p>
			{% endif %}
		</div>
	</div>
{% endblock %}